.hero-ribbon {
  position: absolute;
  top: 49%;
  left: 0;
  width: 100%;
  height: 88px;

  margin-top: -17px;

  background:
    linear-gradient(
      to bottom,
      rgba(230, 220, 203, 0.9),
      rgba(207, 195, 173, 0.95)
    ),
    url("/assets/textures-linen/linen4.jpg");

  background-size: 100% 100%, cover;
  background-position: center;

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    inset 0 2px 4px rgba(255, 255, 255, 0.35),
    inset 0 -3px 6px rgba(0, 0, 0, 0.18);

  z-index: 4;
}

.hero-ribbon::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/assets/fine-grain/light-brown-grain.jpg");
  opacity: 0.06;
  mix-blend-mode: overlay;
}

.hero-ribbon::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );

  opacity: 0.4;
}