.hero-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  cursor: pointer;

  background-image: url("/assets/old-paper-texture.jpg");
  background-size: 110%;
  background-position: center;
}