html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* Chrome / Edge */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(107, 31, 43, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 31, 43, 0.5);
}
