/* imports */
@import "./styles/typography.css";
@import "./styles/backgrounds.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 FULL SCROLLBAR REMOVAL */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  background: #12070a;
}

/* Firefox */
html {
  scrollbar-width: none;
  overscroll-behavior: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
}
